{% extends 'adminlte/skeleton.html' %}
{% block main %}
<div class="wrapper">
  <div class="content-wrapper d-flex flex-column justify-content-center align-items-center">
    <section class="content">
      <div class="error-page d-flex flex-column justify-content-center align-items-center">
        <h2 class="headline text-warning">404</h2>
        <div>
          <h3 class="text-center"><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page not found.</h3>
          <p class="text-center">
            We could not find the page you were looking for. Meanwhile, you may <a href="/">return to dashboard</a>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock main %}